$all-buttons: (
  "button",
  "[type='button']",
  "[type='reset']",
  "[type='submit']",
  ".button"
);

#{$all-buttons} {

  appearance: none;
  background-color: $action-color;
  border: 1px solid #fff;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: 1.2rem;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 8px 24px;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: saturate($action-color, 20%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $action-color;
    }
  }
}

.button {
  &.clear {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    &:hover, &:focus {
      background-color: $taupe;
      color: #fff;
      border-color: #fff;
    }
  }
  &.light {
    background-color: $beige;
    color: $brown;
    border-color: $beige;
    &:hover, &:focus {
      background-color: lighten($beige, 20%);
    }
  }
  &.bold {
    font-size: 1.8rem;
    padding: 8px 12px;
    border-width: 4px;
  }
  &.plain {
    border-color: transparent;
  }
  &.fancy {
    border-color: $action-color;
    position: relative;
    &:before, &:after {
      content: url(../img/swash.svg);
      position: absolute;
      top: -12px;
      height: 30px;
      width: 30px;

    }
    &:before {
      left: -54px;
      transform: scaleX(-1) rotate(54deg);
    }
    &:after {
      right: -54px;
      transform: rotate(54deg);
    }
  }
}
