// Typography
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);

$base-font-family: Arial, sans-serif;
$heading-font-family: "alternate-gothic-no-3-d", HelveticaNeue, sans-serif;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$green: #75ac4d;
$beige: #f7e7ce;
$taupe: #4e4945;
$brown: #70685c;
$trans-green: rgba(117,172,77, .75);
$dark-gray: #252525;
$medium-gray: #777574;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $green;

// Border
$base-border-color: $beige;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: none;
$form-box-shadow-focus: none;

// Animations
$base-duration: 150ms;
$base-timing: ease;
