<section class="light">
  <div class="row">
  {{ form:create in="membership" }}
    {{ if errors }}
      <p class="error">Something went wrong...</p>
      <ul class="error-list">
          {{ errors }}
              <li>{{ value }}</li>
          {{ /errors }}
      </ul>

  {{ /if }}
  {{ if success }}


          <p class="success"> Thanks for contacting us. We'll be in touch soon.</p>



  {{ /if }}

  <h2 class="become-member">Apply to Become a Member</h2>
  <div class="form-container" id="membership_form">
  <fieldset>
    <legend>Choose Membership Level <span class="req">*</span> </legend>
      <div class="formrow">
        <!-- <label for="membership_level">Choose Membership Level</label> -->
          <select name="membership_level" id="membership_level" required>
            <option value="-1" >Please Select</option>
            <option value="director_1000">Director ($1,000 – Table)</option>
            <option value="director_500">Director Level 2 ($500 – 2 VIP Seats)</option>
            <option value="member_250">Member ($250 – 1 Ticket)</option>
          </select>
      </div>
  </fieldset>

  <fieldset>
    <legend>Applicant Information </legend>
    <div class="formrow">
      <label for="application_date" required> Application Date <span class="req">*</span>
          <input type="date" name="application_date" class="half" value="{{ old:application_date }}" required />
      </label>
      <label for="date_of_birth" required> Date of Birth <span class="req">*</span>
          <input type="date" name="date_of_birth" class="half" value="{{ old:date_of_birth }}" required />
      </label>
    </div>


    <div class="formrow">
      <label for="applicant_name" required> Applicant Name <span class="req">*</span>
        <input type="text" name="applicant_name" required class="half" value="{{ old:applicant_name }}" />
      </label>
      <label for="applicant_address" required> Applicant Address <span class="req">*</span>
        <input type="text" name="applicant_address" class="half" value="{{ old:applicant_address }}" required/>
      </label>
    </div>

    <div class="formrow" required>
      <label for="city"> City <span class="req">*</span>
        <input type="text" name="city" class="half" value="{{ old:city }}" required/>
      </label>
      <label for="state"> State <span class="req">*</span>
  									<select name="state" value="TX" id="state">
  										<option value="TX">Texas</option>
  										<option value="AL">Alabama</option>
  										<option value="AK">Alaska</option>
  										<option value="AZ">Arizona</option>
  										<option value="AR">Arkansas</option>
  										<option value="CA">California</option>
  										<option value="CO">Colorado</option>
  										<option value="CT">Connecticut</option>
  										<option value="DE">Delaware</option>
  										<option value="DC">District Of Columbia</option>
  										<option value="FL">Florida</option>
  										<option value="GA">Georgia</option>
  										<option value="HI">Hawaii</option>
  										<option value="ID">Idaho</option>
  										<option value="IL">Illinois</option>
  										<option value="IN">Indiana</option>
  										<option value="IA">Iowa</option>
  										<option value="KS">Kansas</option>
  										<option value="KY">Kentucky</option>
  										<option value="LA">Louisiana</option>
  										<option value="ME">Maine</option>
  										<option value="MD">Maryland</option>
  										<option value="MA">Massachusetts</option>
  										<option value="MI">Michigan</option>
  										<option value="MN">Minnesota</option>
  										<option value="MS">Mississippi</option>
  										<option value="MO">Missouri</option>
  										<option value="MT">Montana</option>
  										<option value="NE">Nebraska</option>
  										<option value="NV">Nevada</option>
  										<option value="NH">New Hampshire</option>
  										<option value="NJ">New Jersey</option>
  										<option value="NM">New Mexico</option>
  										<option value="NY">New York</option>
  										<option value="NC">North Carolina</option>
  										<option value="ND">North Dakota</option>
  										<option value="OH">Ohio</option>
  										<option value="OK">Oklahoma</option>
  										<option value="OR">Oregon</option>
  										<option value="PA">Pennsylvania</option>
  										<option value="RI">Rhode Island</option>
  										<option value="SC">South Carolina</option>
  										<option value="SD">South Dakota</option>
  										<option value="TN">Tennessee</option>
  										<option value="UT">Utah</option>
  										<option value="VT">Vermont</option>
  										<option value="VA">Virginia</option>
  										<option value="WA">Washington</option>
  										<option value="WV">West Virginia</option>
  										<option value="WI">Wisconsin</option>
  										<option value="WY">Wyoming</option>
  										</div>
  									</select>
      </label>
    </div>

    <div class="formrow">
      <label for="zip"> Zip <span class="req">*</span>
        <input type="text" name="zip" class="half" value="{{ old:zip }}" required/>
      </label>
      <label for="spouse_or_significant_other"> Spouse or Significant Other
        <input type="text" name="spouse_or_significant_other" class="half" value="{{ old:spouse_or_significant_other }}" />
      </label>
    </div>

    <div class="formrow">
      <label for="email_address" required> Email <span class="req">*</span>
        <input type="text" name="email_address" class="half" value="{{ old:email_address }}" required />
      </label>
      <label for="home_phone"> Home Phone
        <input type="text" name="home_phone" class="half" value="{{ old:home_phone }}" />
      </label>
    </div>

    <div class="formrow">
      <label for="cell_phone" required> Cell Phone <span class="req">*</span>
        <input type="text" name="cell_phone" class="half" value="{{ old:cell_phone }}" required />
      </label>
      <label for="work_phone"> Work Phone
        <input type="text" name="work_phone" class="half" value="{{ old:work_phone }}" />
      </label>
    </div>

    <div class="formrow">
      <label for="occupation"> Occupation
        <input type="text" name="occupation" class="half" value="{{ old:occupation }}" />
      </label>
      <label for="name_of_sponsoring_director"> Name of Sponsoring Director <span class="req">*</span>
        <input type="text" name="name_of_sponsoring_director" class="half" value="{{ old:name_of_sponsoring_director }}" required />
      </label>
    </div>
  </fieldset>
  <!-- <fieldset id="membership-level">
      <div class="formrow">
        <legend>Choose a Membership Level</legend>
        <label for="Director_1000">
         <input type="radio" name="membership_level" value="Director_1000" id="Director_1000"> Director ($1,000 – Table)<br>
        </label>
        <label for="Director_2_500">
         <input type="radio" name="membership_level" value="Director_2_500" id="Director_2_500"> Director Level 2 ($500 – 2 VIP Seats)<br>
        </label>
        <label for="Member_250">
         <input type="radio" name="membership_level" value="old:Member_250" id="Member_250"> Member ($250 – 1 Ticket)
        </label>
      </div>
  </fieldset> -->


  <fieldset id="committees">

        <legend>Which Committees will you be active in?</legend>
        <div class="formrow">
          <label for="sponsorship">Sponsorship
             <input type="checkbox" name="sponsorship" value="yes" id="sponsorship" {{ if {old:sponsorship} == "yes" }} checked {{ /if }}><br>
           </label>
            <label for="fundraising">Fundraising
             <input type="checkbox" name="fundraising" value="yes" id="fundraising" {{ if {old:fundraising} == "yes" }} checked {{ /if }}><br>
            </label>
        </div>

        <div class="formrow">
            <label for="social_events">Social Events
             <input type="checkbox" name="social_events" value="yes" id="social_events" {{ if {old:social_events} == "yes" }} checked {{ /if }}><br>
            </label>
            <label for="membership">Membership
             <input type="checkbox" name="membership" value="yes" id="membership" {{ if {old:membership} == "yes" }} checked {{ /if }}><br>
            </label>
        </div>

        <div class="formrow">
          <label for="marketing">Marketing/Advertising
           <input type="checkbox" name="marketing" value="yes" id="marketing" {{ if {old:marketing} == "yes" }} checked {{ /if }}><br>
          </label>
          <label for="auction">Auction
           <input type="checkbox" name="auction" value="yes" id="auction" {{ if {old:auction} == "yes" }} checked {{ /if }}><br>
          </label>
        </div>

        <div class="formrow">
          <label for="community_outreach">Community Outreach
           <input type="checkbox" name="community_outreach" value="yes" id="community_outreach" {{ if {old:community_outreach} == "yes" }} checked {{ /if }}><br>
          </label>
          <label for="other">Other
           <input type="checkbox" name="other" value="yes" id="other" onclick="showOther()" {{ if {old:other} == "yes" }} checked {{ /if }}>
          </label>
        </div>
         <input type="text" name="other_committee" class="half" value="{{ old:other_committee }}" placeholder="Committte Name" id="other-committee"/>

  </fieldset>

    <fieldset id="finally">
    <legend>Have you been convicted of a felony in the last ten years? <span class="req">*</span> </legend>
    <div class="formrow">
      <label for="convicted_of_a_felony" class="binary">Yes
        <input type="radio" name="convicted_of_a_felony" id="convicted_of_a_felony" value="yes" onclick="showExplain()" {{ if {old:convicted_of_a_felony} == "true" }} checked {{ /if }}>

      </label>
        <label for="not_convicted_of_felony" class="binary">No
          <input type="radio" name="convicted_of_a_felony" id="not_convicted_of_felony" value="no" onclick="showExplain()">

       </label>
     </div>
     <input type="text" name="if_yes_explain" id="if_yes_explain" placeholder="If yes, please explain">
     </fieldset>
      <!-- <label for="name_on_roster">Please do not place my information on the Children’s Charities of Fort Worth roster
        <input type="checkbox" name="name_on_roster" id="name_on_roster" value="yes" {{ if {old:name_on_roster} == 'yes' }}checked{{ /if }}>
      </label> -->
 <br>
  <button class="sub-button">Submit</button>
</div>
{{ /form:create }}
</div>
</section>

<script>

  function showOther(){
    if(document.getElementById("other").checked){
    document.getElementById("other-committee").style.display = "block";
  }
    if(!document.getElementById("other").checked){
      document.getElementById("other-committee").style.display = "none";
    }
  }
  function showExplain(){
    if(document.getElementById("convicted_of_a_felony").checked){
    document.getElementById("if_yes_explain").style.display = "block";
  }
    if(!document.getElementById("convicted_of_a_felony").checked){
      document.getElementById("if_yes_explain").style.display = "none";
    }
  }

</script>
