{{ page_header }}

    {{ if type == "image_and_text_set" }}
    <div class="hero standard" style="background-image: url({{ asset:background_image }}{{ url }}{{ /asset:background_image }});">
        <div class="hero-content-wrap">
            <h1>{{ title }}</h1>
            <div class="frame">

                <div class="frame-int">
                    <div class="img-wrap">
                        {{ asset:image }}<img src="{{ glide:id width="450" height="325" }}" alt="{{ alt }}">{{ /asset:image }}
                    </div>

                    <p>{{ text }}</p>
                </div>
            </div>
        </div>
    </div>

    {{ elseif type == "featured_event" }}
    <div class="hero standard" style="background-image: url({{ asset:background_image }}{{ url }}{{ /asset:background_image }});">
        <div class="hero-content-wrap">
            <h1>{{ title }}</h1>
            <div class="frame">
                {{ collection:events id:is="{event_selection}"}}
                <div class="frame-int event">
                    <div class="img-back" style="background-image: url({{ asset:event_logo }}{{ url }}{{ /asset:event_logo }});">

                    </div>
                    <div class="details">
                        <span>{{ event_venue}}</span>
                        <span>{{ event_city }}</span>
                        <span class="date">{{ event_date format="F d, Y" }} | {{ event_start format="g:iA" }}</span>
                        <a href="{{ cta_url }}" class="button clear bold fancy" {{ if cta_new_window }}target="_blank"{{ /if }}>{{ cta_text }}</a>
                    </div>
                </div>
                {{ /collection:events }}
            </div>
        </div>
    </div>

    {{ elseif type == "text_and_table_set" }}
    <div class="hero standard" style="background-image: url({{ asset:background_image }}{{ url }}{{ /asset:background_image }});">
        <div class="hero-content-wrap">
            <h1>{{ title }}</h1>
            <div class="frame">

                <div class="frame-int no-pic">

                    <p>{{ text }}</p>
                    <div class="list-table-wrap">
                        {{ table | table }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ elseif type == "big_event_set" }}
    <div class="hero int" style="background-image: url({{ asset:background_image }}{{ url }}{{ /asset:background_image }});">
        <div class="hero-content-wrap">
            {{ collection:events id:is="{ big_event }"}}
            {{ asset:event_logo }}<img src="{{ url }}" alt="{{ alt }}">{{ /asset:event_logo }}
            <h4>{{ event_venue }} {{ event_city }}</h4>
            <h4>{{ event_date format="F d, Y" }} | {{ event_start format="g:iA" }}</h4>
            <a href="{{ tickets_url }}" class="button fancy" target="_blank">Tickets</a> <br>
            <a href="{{ lodging_link_url }}" class="button fancy" target="_blank">Hotel Reservation</a>
            {{ event_description }}

            {{ /collection:events }}
        </div>
    </div>
    <section class="subnav">
        {{ links_bar }}
        <div class="{{ switch between='left|right' }}">
            <a href="{{ link_url }}"{{ if link_new_window }}target="_blank"{{ /if }}>{{ link_text }}</a>
        </div>

        {{ /links_bar }}
    </section>

    {{ /if }}
{{ /page_header }}
