{{ partial:page_header }}

<section class="main">

    <div class="row">
        <h1>{{ title }}</h1>
        
        <div class="contact-wrap">

        	{{ user:forgot_password_form reset_url="/reset-password" }}

			    {{ if email_sent }}

			        <p>Please check your email for instructions on how to reset your password.</p>

			    {{ else }}

			        {{ if errors }}
			            <div class="alert alert-danger">
			                {{ errors }}
			                    {{ value }}<br>
			                {{ /errors }}
			            </div>
			        {{ /if }}

			        <label>Username</label>
			        <input type="text" name="username" />

			        <button>Send email</button>

			    {{ /if }}

			{{ /user:forgot_password_form }}
			
    	</div>
    </div>
</section>

