{{ partial:page_header }}

<section class="main">

    <div class="row">
        <h1>{{ title }}</h1>
        
        <div class="contact-wrap">

        	{{ user:reset_password_form }}

			    {{ if success }}

			        <p class="alert alert-success">Password has been reset. You can now <a href="/cp">LOG IN</a>.</p>

			    {{ elseif url_invalid }}

			        <p class="alert alert-danger">This reset URL is invalid.</p>

			    {{ else }}

			        {{ if errors }}
			            <div class="alert alert-danger">
			                {{ errors }}
			                    {{ value }}<br>
			                {{ /errors }}
			            </div>
			        {{ /if }}

			        <label>Password</label>
			        <input type="password" name="password" />

			        <label>Password Confirmation</label>
			        <input type="password" name="password_confirmation" />

			        <button>Submit</button>

			    {{ /if }}

			{{ /user:reset_password_form }}
			
    	</div>
    </div>
</section>

