@import 'normalize';
@import 'base/base';

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

* {
    box-sizing: border-box;
}

html {
    color: $base-font-color;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.center {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

ul {
    li {
        padding-left: 3rem;
        position: relative;
        margin-bottom: 1rem;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 4px;
            background-size: contain;
            background-position: left top;
            background-repeat: no-repeat;
            width: 1rem;
            height: 1rem;
        }
    }
}

.row {
    overflow: hidden;
    padding: 0 $gutter;
    max-width: $max-width;
    margin: 0 auto;
    h1 {
        font-size: 3.2rem;
        color: $beige;
        margin: 0;
        padding-left: 24px;
        letter-spacing: normal;
    }
}

.contain {
    width: 85%;
    margin: 36px auto;
}

.flex {
    display: flex;
    flex-direction: column;
    @include media($medium-screen) {
        flex-direction: row;
    }
    &.all-center {
        justify-content: center;
        align-items: center;
    }
}

.masthead {
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    text-align: center;
    border-bottom: 2px solid $beige;
    @include media($large-screen) {
        flex-direction: row;
    }
    .logo, .action {
        padding: 12px;
        display: flex;
        
        align-items: center;
        position: relative;

        @include media($large-screen) {
            padding: 20px 20px;
            width: 20%;
        }
    }
    .logo {
        justify-content: flex-start;
        @include media($medium-screen) {
            justify-content: center;
        }
    }
    .action {
        justify-content: center;
    }
    .logo img {
        width: 155px;
        max-width: 100%;
    }
    .menu-toggle {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        //height: 100%;
        //width: 60px;
        text-align: center;
        color: #fff;
        font-family: $heading-font-family;
        padding: 40px 20px;
        cursor: pointer;
        font-size: 1.3rem;
        &:before {
            content: '';
            background: transparent url(../img/menu-bars.svg) left center no-repeat;
            background-size: contain;
            display: inline-block;
            height: .9rem;
            width: 1rem;
            padding-right: 6px;
        }
        @include media($medium-screen) {
            display: none;
        }
    }
    .nav-wrap {
        display: flex;
        flex-direction: column;
        
        @include media($large-screen) {
            width: 80%;
            border-left: 1px solid $beige;
            border-right: 1px solid $beige;
        }
        
        h2, a {
            color: #fff;
        }
        a:hover, a:focus, a:active {
            color: lighten($action-color, 20%);
        }
        .headline {
            border-bottom: 1px solid $beige;
            padding: 10px 0;
            h2 {
                letter-spacing: .1em;
                font-weight: normal;
                margin: 0;
                font-size: .9em;
                text-align: left;
                padding-left: 14px;
                @include media($medium-screen) {
                    text-align: center;
                    padding-left: 0;
                }
            }
        }
        
        nav.main {
            position: relative;
            max-height: 0;
            overflow: hidden;
            transition: max-height .4s;
            background: $beige;
            &.open {
                max-height: 400px;
            }
            @include media($medium-screen) {
                max-height: none;
                padding: 20px 0;
                background: transparent;
            }
            a {
                font-family: $heading-font-family;
                font-size: 1.1rem;
                text-transform: uppercase;
                padding: 12px;
                font-weight: 400;
                letter-spacing: .04em;
                display: block;
                border-bottom: 1px solid $light-gray;
                color: $dark-gray;
                &:hover, &:focus {
                    background-color: $dark-gray;
                    color: #fff;
                }
                @include media($medium-screen) {
                    display: inline-block;
                    padding: 0 12px;
                    font-size: 1.2rem;
                    border-bottom: none;
                    color: #fff;
                    &:hover, &:focus {
                        color: lighten($action-color, 20%);
                    }

                }
            }
            .social {
                padding: 12px 0 0;
                background-color: $dark-gray;
                @include media($xl-screen) {
                    position: absolute;
                    right: 16px;
                    top: 6px;
                }
                a {
                    height: 30px;
                    padding: 0 4px 0 0;
                    display: inline-block;
                    border-bottom: none;
                    * {
                        fill: $beige;
                        max-height: 100%;
                    }
                    &:hover, &:focus {
                        * {
                            fill: #fff;
                        }
                    }
                    &:last-child {
                        //padding-right: 0;
                    }
                    
                }
            }

        }

    }
}

.hero {
    border-bottom: 1px solid $beige;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .blocks {
        max-width: 1040px;
        margin: 0 auto;
    }
    &.home, &.int {
        //background-position: center center;
        ///background-repeat: no-repeat;
        //background-size: cover;
    }
    &.int {
        .hero-content-wrap {
            padding: 40px;
            width: 90%;
            max-width: 640px;
            margin: 0 auto;
            text-align: center;
            color: #fff;
            @include media($medium-screen) {
                width: 70%;
            }
            @include media($large-screen) {
                width: 50%;
            }
            img {
                margin-bottom: 24px;
            }
            a.fancy {
                margin-top: 24px;
            }
            h4 {
                margin-bottom: 6px;
                font-size: 1.1rem;
            }
            p {
                font-size: .9rem;
                margin: 24px 0;
            }
        }
    }
    &.standard {

        .hero-content-wrap {
            width: 90%;
            max-width: 1000px;
            margin: 0px auto;
            padding: 40px 0;
            @include media($large-screen) {
                width: 90%;
            }
            h1 {
                font-size: 3.2rem;
                color: $beige;
                margin: 0;
                padding-left: 24px;
                letter-spacing: normal;
            }
            .frame {
                padding: 20px 14px;
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent url(../img/frame-top.svg) center top no-repeat;
                    background-size: 100%;
                    z-index: 3;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: transparent url(../img/frame-bottom.svg) center bottom no-repeat;
                    background-size: 100%;
                    z-index: 3;
                }
            }
            .frame-int {
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                z-index: 4;
                @include media($large-screen) {
                    flex-direction: row;
                    .img-wrap, p {
                        width: 50%;
                    }
                }
                &.no-pic {
                    background: rgba(0,0,0, .8);
                    margin: 12px 20px;
                    padding: 24px 12px;
                    @include media($large-screen) {
                        flex-direction: column;
                        padding: 24px 40px;
                    }
                    p {
                        width: 100%;
                    }
                    .list-table-wrap {
                        padding: 20px;
                    }
                    table {
                        color: #fff;
                        border: none;
                        margin: 0px;
                        display: block;
                        margin: 0 auto;
                        tbody {
                            display:block;
                        }
                        tr {
                            display: block;
                        }

                        td {
                            display: block;
                            border: none;
                            padding: 6px 12px 6px 0;
                        }
                        @include media($medium-screen) {
                            display: table;
                            tbody {
                                display: table-row-group;
                            }
                            tr {
                                display: table-row;
                            }
                            td {
                                display: table-cell;
                            }
                        }
                    }
                }
                &.event {
                    background-color: $trans-green;
                    //padding: 24px;
                    margin: 12px 20px;
                    .img-back, .details {
                        width: 100%;
                    }
                    .img-back {
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        max-width: 90%;
                        min-height: 200px;
                        position: relative;
                        overflow-y: hidden;
                        margin: 24px auto 0;
                    }
                    .details {
                        text-align: center;
                        padding: 40px 20px;
                        positon: relative;
                        z-index: 20;
                        span {
                            display: block;
                            color: #fff;
                            font-family: $heading-font-family;
                            font-size: 1.2rem;
                            text-transform: uppercase;
                            letter-spacing: .2em;
                            &.date {
                                font-size: 2.3rem;
                                letter-spacing: .1em;
                            }
                        }
                        .button.fancy {
                            border-color: #fff;
                        }

                    }
                    @include media($medium-screen) {
                        flex-direction: row;
                        .img-back {
                            background-position: left center;
                            
                            min-height: 340px;
                            max-width: none;
                            margin: 0 0;
                        }
                        .img-back, .details {
                            width: 50%;
                        }
                    }
                    @include media($large-screen) {
                        .img-back {
                            background-size: cover;
                        }
                    }
                }
                .img-wrap {
                    //display: flex;
                    //align-items: center;
                    padding: 20px;
                    img {
                        box-shadow: 6px 6px 12px #000;
                    }
                }
                p, ul {
                    padding: 20px;
                    color: #fff;
                    margin: 0;
                    text-shadow: 2px 2px 4px #000;
                }
            }
            
        }
    }
    .hero-block {
        position: relative;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        overflow:hidden;
        @include media($medium-screen) {
            border-left: 1px solid $beige;
            &:last-child {
                border-right: 1px solid $beige;
            }
        }
        .button.clear {
            &:hover, &:focus {
                background-color: $action-color;
            }
        }
        .button.dyn {
            color: #fff;
            border-color: #fff;
            //border-width: 0;
            z-index: 10;

        }
        &.bg-hov, .hero-block-content.bg-hov {
            
            &.desat {

                @include media($medium-screen) {
                    filter: saturate(0%);
                }
                &:hover {
                    filter: saturate(100%);
                }
            }
            &.hue {
                position: relative;
                .bg {
                    transition: filter .5s;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                &:hover, &:focus {
                    .bg {
                        filter: saturate(200%) hue-rotate(70deg);
                    }

                    img.flexible {

                        transform: scale(.8);
                    }
                    .initial {
                        opacity: 0;
                        max-height: 0;
                    }
                    .reveal {
                        opacity: 1;
                        height: 180px;
                    }
     
                }
            }
            &:hover {
                .button.dyn {
                    //border-width: 4px;
                }
            }

        }
    }
    .hero-block-content {
        position: relative;
        z-index: 10;
        text-align: center;
        padding: 24px 80px 0 80px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        img.flexible {
            transition: all .7s;
        }
        .initial {
            position: relative;
            z-index: 10;
            opacity: 1;
            max-height: 200px;
            color: $beige;
            transition: all .7s;
            h3 {
                text-transform: none;
                font-size: 2.2rem;
                font-weight: 200;
                letter-spacing: normal;
                padding: 24px 0;
            }
        }
        .reveal {
            opacity: 0;
            height: 0;
            transition: all .7s;
            h4 {
                color: $beige;
                font-size: 1.6rem;
                //padding-top: 48px;
                margin-bottom: 38px;
                font-weight: 300;
                letter-spacing: normal;
                border-bottom: 2px solid $beige;
                position: relative;
                line-height: 1.8em;
                &:after {
                    content: '';
                    height: 40px;
                    border-left: 2px solid $beige;
                    position: absolute;
                    left: 50%;
                    bottom: -40px;
                }
            }
            .button {
                &:hover, &:focus {
                    color: #fff;
                    border-color: #fff;
                }

            }
        }
        
    }
    .half-width {
        width: 100%;
        height: 80vh;
        max-height: 512px;
        @include media($medium-screen) {
            width: 50%;
            //min-height: 55vh;
        }
    }
    .half-height {
        height: 40vh;
        max-height: 256px;
        &:first-child {
            border-bottom: 1px solid $beige;
        }
    }
}

section.subnav {
    background-color: $beige;
    //text-align: center;
    display: flex;
    justify-content: center;
    .left, .right {
        width: 50%;
        //min-width: 200px;
        text-align: center;
        border-right: 1px solid $taupe;
        @include media($medium-screen) {
            width: 12%;
            min-width: 240px;
        }
        &:hover, &:focus {
            background-color: saturate($beige, 80%);
            color: darken($taupe, 80%);
        }
    }
    .left {
        
        border-left: 1px solid $taupe;
    }
    a {
        text-transform: uppercase;
        color: $taupe;
        padding: 8px 12px;
        display: inline-block;
        font-family: $heading-font-family;
        font-size: 1.2rem;
        @include media($medium-screen) {
            font-size: 1.6rem;
        }

    }
}

section.tall {
    min-height: 80vh;
}

section.main, section.dark {
    background-color: $taupe;
    color: #fff;
    padding: 80px 0;
    h2 {
        font-size: 2.7rem;
        text-align: center;
        color: $beige;
        margin-bottom: 0;
        &:after {
            content:'';
            display: block;
            width: 96%;
            margin: 0 auto;
            padding: 12px 0;
            height: 25px;
            fill: #000;
            background: url(../img/bowtie-beige.svg) center center no-repeat;
            background-size: contain;
            overflow: hidden;
        }

    }
    h3 {
        font-size: 1.4rem;
    }
    p {
        font-size: 18px;
        font-weight: 200;
    }

    .row + .row {
        margin-top: 80px;
    }
    ul {
        li {
            &:before {
                background-image: url(../img/list-icon-light.svg);
            }
        }
    }

}

section.secondary, section.light {
    padding: 80px 0;
    h2 {
        font-size: 2.5rem;
        text-align: center;
        color: #000;
        margin-bottom: 0;
        &:after {
            content:'';
            display: block;
            width: 96%;
            margin: 0 auto;
            padding: 12px 0;
            height: 25px;
            fill: #000;
            background: url(../img/bowtie.svg) center center no-repeat;
            background-size: contain;
            overflow: hidden;
        }

    }
    h3 {
        font-size: 1.4rem;
    }
    ul {
        li {
            &:before {
                background-image: url(../img/list-icon.svg);
            }
        }
    }
}

p.cta {
    text-align: center;
    padding: 1rem 0;
}

.block-50 {
    width: 100%;
    display: inline-block;
    padding-right: 36px;
    vertical-align: top;
    margin-bottom: 36px;
    @include media($medium-screen) {
        width: 49.5%;
    }
    img {
        display: block;
        box-shadow: 4px 4px 12px #ccc;
    }
}

.logos {
    h4 {
        margin-top: 2rem;
        &:after {
            content: '';
            padding-top: 1rem;
            border-bottom: 1px solid #000;
            width: 50%;
            height: 1px;
            display: block;
            margin: 0 auto;
        }
    }
}
.image-grid {
    padding: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    @include media($medium-screen) {
        flex-direction: row;
        
        justify-content: center;
    }
    img {
        padding: 20px;
        height: auto;
        filter: saturate(0%);
    }
    &.platinum {
        img {
            width: 100%;
            @include media($medium-screen) {
                width: 40%;
                padding: 20px;
            }
        }
    }
    &.gold {
        img {
            width: 80%;
            
            @include media($medium-screen) {
                width: 35%;
                padding: 20px;
            }
        }
    }
    &.silver {
        img {
            width: 70%;
            @include media($medium-screen) {
                width: 30%;
                padding: 20px;
            }
        }
    }
    &.inkind {
        img {
            width: 50%;
            @include media($medium-screen) {
                width: 25%;
                padding: 20px;
            }
        }
    }
    &.premium {
        img {
            width: 40%;
            @include media($medium-screen) {
                width: 20%;
                padding: 20px;
            }
        }
    }

    
}

.photo-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    .grid-item {
        width: 50%;
        padding: 10px;
        @include media($medium-screen) {
            width: 33%;
        }
        @include media($large-screen) {
            width: 25%;
        }
        img {
            box-shadow: 1px 1px 8px #000;
            width: 100%;
        }
        h3 {
            font-size: 1.6rem;
            text-transform: none;
            margin-top: 12px;
            margin-bottom: 0;
            padding-top: 6px;
            border-top: 2px solid $beige;
            color: $beige;
            letter-spacing: .02em;;
            font-weight: 400;

        }
        h4 {
            font-size: 1.2rem;
            text-transform: none;
            color: $beige;
            letter-spacing: .04em;
            font-weight: 400;
        }
    }

}

.photo-links-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .grid-item {
        width: 100%;
        padding: 10px;
        @include media($medium-screen) {
            width: 50%;
        }
        img {
            box-shadow: 1px 1px 8px #000;
            width: 100%;
        }
        h3 {
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-top: 12px;
            margin-bottom: 0;
            padding-top: 6px;
            border-top: 2px solid $beige;
            color: $beige;
            letter-spacing: .02em;;
            font-weight: 400;

        }
    }
}

.text-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 12px;
    .text-col {
        width: 100%;
        text-align: center;
        span {
            display: block;
            padding: 6px 0;
        }
        @include media($small-screen) {
            width: 33%;
        }
    }
}

.deco-box-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 60px 0;
    @include media($large-screen) {
        justify-content: space-between;
    }
    .grid-item {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        position: relative;
        width: 100%;
        padding: 16px;
        border: 2px solid $medium-gray;
        margin-bottom: 60px;
        text-align: center;
        &:before {
            content: '';
            width: 34px;
            height: 34px;
            border: 2px solid $medium-gray;
            position: absolute;
            left: -20px;
            top: -20px;
        }
        &:after {
            content: '';
            width: 34px;
            height: 34px;
            border: 2px solid $medium-gray;
            position: absolute;
            right: -20px;
            top: -20px;
        }
        @include media($medium-screen) {
            width: 60%;
        }
        @include media($large-screen) {
            width: 28%;
        }
        
        h3 {
            font-size: 2.2rem;
            text-transform: none;
            margin-top: 6px;
            margin-bottom: 6px;
            padding-top: 0px;
            text-transform: uppercase;
            text-align: center;
            color: $beige;
            letter-spacing: .02em;;
            font-weight: 400;
            position: relative;
            &:after {
                content: '';
                display: block;
                height: 2px;
                width: 70%;
                margin: 0 auto 18px;
                background-color: $beige;
            }
        }
        p {
            font-size: .85rem;
            width: 90%;
            margin: 0 auto;
        }
        .button {
            margin: 12px 0;
        }
        
    }
    .deco-box-wrap {
        position: relative;
        border: 2px solid $medium-gray;
        padding: 12px;
        &:before {
            content: '';
            width: 34px;
            height: 34px;
            border: 2px solid $medium-gray;
            position: absolute;
            left: -38px;
            bottom: -38px;
        }
        &:after {
            content: '';
            width: 34px;
            height: 34px;
            border: 2px solid $medium-gray;
            position: absolute;
            right: -38px;
            bottom: -38px;
        }
    }
}

.events-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0 16px 0;

    @media ($medium-screen) {
        padding: 0 60px 0;
    }
    
    .grid-item {
        background-color: $dark-gray;
        color: #fff;
        border: 2px solid $beige;
        width: 100%;
        text-align: right;
        padding: 18px;
        margin: 0 12px;
        margin-bottom: 24px;
        @include media($medium-screen) {
            width: 30%;
        }
        .date {
            display: block;
            color: $action-color;
            font-family: $heading-font-family;
            font-weight: 200;
            text-transform: uppercase;
            font-size: 2rem;
            line-height: 1;
        }
        h3 {
            color: $beige;
            font-size: 2.6rem;
            margin: 0;
            line-height: 1;
            letter-spacing: normal;
        }
        .time {
            display: block;
            color: $beige;
            font-size: 1.8rem;
            font-family: $heading-font-family;
            text-transform: uppercase;
            margin-bottom: 36px;
            line-height: 1;
        }
        p {
           font-size: .8rem;
           text-align: right;
           position: relative;
           padding-top: 12px;
           &:before {
            content: '';
            display: block;
            width: 75%;
            height: 2px;
            background-color: $beige;
            position: absolute;
            right: 0;
            top: 0;
           }

        }
    }
}

.gallery-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 48px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5%;
        min-height: 48px;
        background: transparent url(../img/frame-top.svg) center top no-repeat;
        background-size: 100%;
    }
    a {
        display: block;
        width: 100%;
        //margin-bottom: 12px;
        padding: 6px;
        @include media($medium-screen) {
            width: 50%;
        }
        @include media($large-screen) {
            width: 33.3%;
        }
        img {
            width: 100%;
        }
    }


}

.contact-wrap {

    padding: 48px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5%;
        min-height: 48px;
        background: transparent url(../img/frame-top.svg) center top no-repeat;
        background-size: 100%;
    }
    form {
        width: 100%;
    }
}





.footer {
    background-color: $dark-gray;
    color: $medium-gray;
    font-family: $heading-font-family;
    .contact {
        padding: 18px 0;
        line-height: 1em;
        text-transform: uppercase;
        text-align: center;
        font-size: 1rem;
        span {
            padding: 0;
            &:not(:last-child):after {
                content: '|';
                display: inline-block;
                padding: 0 12px;
            }

        }
    }
    .actions {
        max-width: 1040px;
        padding: 20px 12px;
        border-top: 2px solid $beige;
        border-bottom: 2px solid $beige;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @include media($medium-screen) {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
        .buttons {
            padding-bottom: 12px;
            .button {
                padding: 9px 12px;
                line-height: 1em;
                margin-right: 12px;
                border-width: 2px;
                font-size: 1rem;
                &.clear {
                    //color: $light-gray;
                }
            }
        }
        .signup {
            width: 95%;
            margin: 0 auto;
            @include media($medium-screen) {
                width: 55%;
                margin: 0;
            }
            
            form {
                input[type="email"] {
                    width: 70%;
                    display: inline-block;
                    border: none;
                    text-transform: uppercase;
                    letter-spacing: .1em;
                    font-size: .9rem;
                    padding: 11px 20px;
                    line-height: 1rem;
                    @include media($medium-screen) {
                        //font-size: 1rem;
                        padding: 11px 20px;
                    }
                }
                .submit {
                    display: inline-block;
                    width: 30%;
                    padding: 11px 12px;
                    line-height: 1rem;
                    top: -1px;
                    position: relative;
                    border: none;
                    background-color: $beige;
                    color: $taupe;
                    &:hover, &:focus {
                        background-color: saturate($beige, 80%);
                    }
                    @include media($medium-screen) {
                        //top: 0;
                        padding: 11px 12px;
                    }
                }
            }
        }
    }
    .social {
        a {
            display: inline-block;
            padding-right: 8px;
            * {
                fill: $beige;
            }
            &:hover, &:focus {
                * {
                    fill: #fff;
                }
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .copyright {
        padding: 12px 0;
        text-align: center;
        p {
            font-size: .8rem;
            font-family: $base-font-family;
        }
    }
}

.event-slider.slick-slider {
    padding: 0;
    position: relative;
    .slick-list {
        z-index: 19;
    }
    .event-slide {
        position: relative;
        height: 40vh;
        max-height: 256px;
        display: flex;
            justify-content: center;
            align-items: center;
        a {
            display: block;
            width: 100%;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 10;
            filter: brightness(50%);
        }
        .slide-content {
            position: relative;
            z-index: 11;
            width: 80%;
            margin: 0 auto;
            display:flex;
            flex-direction:column;

            span {
                //display: block;
                text-transform: uppercase;
                color: #fff;
                font-family: $heading-font-family;
                font-weight: 400;
                line-height: 1.5em;
                
                margin: 0 auto;
                &.top-text {
                    font-size: 25px;
                    padding-bottom: 6px;
                    border-bottom: 2px solid #fff;
                    margin-bottom: 12px;
                }
                &.middle-text {
                    font-size: 2.6rem;
                    font-weight: 400;
                    line-height: 1em;
                }
                &.bottom-text {
                    font-size: 21px;
                }
            }
        }
    }
    .prev-arrow, .next-arrow {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        cursor: pointer;
        &:hover, &:focus {
            #chev {
                stroke: $action-color;
            }
        }
    }
    .prev-arrow {
        left: 12px;;
        transform: rotate(180deg);
    }
    .next-arrow {
        right: 12px;
    }
}

.gallery {
    position: relative;
    width: 94%;
    margin: 0 auto;
    .prev-arrow, .next-arrow {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        cursor: pointer;
    }
    .prev-arrow {
        left: -24px;
        transform: rotate(180deg);
        @include media($medium-screen) {
            left: -44px;
        }
    }
    .next-arrow {
        right: -24px;
        @include media($medium-screen) {
            right: -44px;
        }
    }
    .slick-slide img {
        width: 100%;
    }
}

.light .gallery {
    .prev-arrow, .next-arrow {
        svg g {
            stroke: #000000;
        }
    }
}

.contact-wrap {
    min-height: 50vh;
    form {
        .formrow {
            
        }
        input, textarea {
            //width: 70%;
            //display: inline-block;
            border: none;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-size: .9rem;
            padding: 11.5px 20px;
            color: $dark-gray;
            &.req {
                display: none;
            }

            @include media($medium-screen) {
                font-size: 1rem;
                padding: 9.5px 20px;
                &.half {
                    width: 49.2%;
                    display: inline-block;
                    &:first-child {
                        margin-right: 1%;
                    }
                }
            }
        }
    }
    .success {
        font-size: 1.6rem;
        color: $beige;
        font-family: $heading-font-family;
        padding: 40px 24px;
    }
    .error {
        font-size: 1.6rem;
        color: $action-color;
        font-family: $heading-font-family;
        padding: 24px;
    }
    .error-list {
        background-color: $dark-gray;
        padding: 24px;
        color: $beige;
        margin-bottom: 24px;
    }
}

.fancybox-wrap {
    max-width: 80%;
    .fancybox-inner {
        max-width: 100%;
        height: auto !important;
    }
}

.fancybox-nav span {
    visibility: visible;
    max-width: 100%;
}

.fancybox-close {
    background-image: none;
    position: absolute;
    right: -40px;
    top: -60px;
    &:after {
        content: 'X';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2.4rem;
        color: #fff;
    }
}

.fancybox-next {
    right: -48px;
    @include media($medium-screen) {
        right: -60px;
    }
    span {
        background: transparent url(../img/slide-arrow.svg) center center no-repeat;
    }
    
}

.fancybox-prev {
    left: -48px;
    @include media($medium-screen) {
        left: -60px;
    }
    span {
        background: transparent url(../img/slide-arrow.svg) center center no-repeat;
        transform: scaleX(-1);
    }
    
}

